$primary-text-color: #292f36;
$secondary-text-color: #4d5053;
$accent-color: #cda274;
$background-color: #f4f0ec;
$white-color: #fff;

$serif-font: "DM Serif Display", serif;
$sans-serif-font: "Jost", sans-serif;

$box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
