<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- task1 -->
    <div id="task1">
      <p>Товаров в корзине: {{ productCounter }}</p>
      <button v-for="button in buttons" @click="onClickCounterProduct(button)" :key="button.id">
        {{button.text}}
      </button>
    </div>
    <hr />

    <!-- task2 -->
    <div id="task2">
      <p>v1</p>
      <p>{{ text }}</p>
      <button v-for="button in buttons" @click="ageQuest(button)" :key="button.id">
        {{button.buttonText}}
      </button>
      <hr />
      <p>v2</p>
      <button v-for="button in v2buttons" @click="ageAnswer(button)" :key="button.id">
        {{button.buttonText}}
      </button>
      <h3 v-if="access">Можно Заказать Товар</h3>
      <h3 v-else>Нужно подрасти</h3>
    </div>
    <hr />

    <!-- task3 -->
    <div id="task3">
      <!-- <div v-if="visible"> Не в приоритете -->
      <div v-show="visible">
        <img
          width="170"
          src="https://thumbs.gfycat.com/ImpassionedReasonableCirriped-size_restricted.gif"
          alt="куку" />
        <h2>КуКу..</h2>
      </div>
      <button v-on:click="visible=!visible">{{visible?'Видно':'Не Видно'}}</button>
    </div>
    <hr />
    <!-- task4 -->
    <div id="task4">
      <button v-on:click="randNumb">Сгенерировать</button>
      <p>Число x={{number}}</p>
      <p>{{text}}</p>
    </div>

    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
